.services {
  max-width: 1200px;
  margin: 1em auto;
  overflow-x: hidden;
}
.title {
  text-align: center;
  padding: 10px;
}
.serviceContainer {
  display: grid;
  background-color: rgba(245, 245, 245, 1);
  padding: 1em;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  text-align: center;
  border-radius: 5px;
  overflow-x: hidden;
}
.card {
  max-width: 300px;
  padding: 1em;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  gap: 0.5rem;
}
.label {
  font-size: 1.1rem;
}
.contactContainer {
  background: linear-gradient(
    90.95deg,
    #000000 2.72%,
    rgba(0, 0, 0, 0.66) 101.76%
  );
  background-repeat: no-repeat;
  align-items: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.formContent {
  display: grid;
  padding: 1em;
  gap: 1em;
  margin-left: 1em;
}
.content h2 {
  color: #fcd036;
  font-size: 2.5rem;
  margin-top: 1em;
  font-weight: 400;
}
.content h3 {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1em;
}
.contactContainer .img img {
  width: 100%;
  object-fit: cover;
  z-index: 56;
  aspect-ratio: 1/1;
}
.contactContainer input {
  border: none;
  padding: 0.3em 0.6em;
}
.email {
  background-color: white;
  border-radius: 10px;
  max-width: 220px;
  display: flex;
  align-items: center;
}
.contact {
  max-width: 270px;
  background-color: white;
  border-radius: 10px;

  display: flex;
  align-items: center;
}
.contactContainer input:focus {
  outline: none;
  border: none;
}
.email,
.contact {
  position: relative;
  padding: 0.5em 1em;
  overflow-x: hidden;
}
.email img,
.contact img {
  position: absolute;
  right: -0px;
  top: 0;
  z-index: 78;
  height: 100%;
  margin-right: 10px;
}
.email input::placeholder,
.contact input::placeholder {
  font-size: 0.6rem;
  padding: 0;
  font-weight: bold;
}
