.gifts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  margin: 0 auto;
  max-width: 1200px;
  padding: 1em;
  justify-content: center;
  overflow-x: hidden;
  gap: 1em;
}
.title {
  font-size: 1.2rem;
  padding: 0.4em;
}
.gifts p {
  font-size: 0.9rem;
  padding: 0.4em;
}
.gift {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 2px black;
  display: grid;
  position: relative;
}
.gift img {
  justify-self: center;
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 16/7;
}
.giftFlex {
  display: flex;
  align-items: center;
  gap: 1em;
}
.pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.btn {
  background-color: rgba(147, 0, 0, 1);
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.2em 0.4em;
  font-size: 0.9rem;
  border-radius: 6px;
}
.oldPrice {
  text-decoration: line-through;
  margin-right: 5px;
}
.price {
  font-size: 1rem;
  font-weight: 500;
}
.rating {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.heart {
  position: absolute;
  top: 2%;
  right: 0;
  background-color: white;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-right: 10px;
  display: grid;
  place-items: center;
}
.pagination {
  display: flex;
  justify-content: space-around;
  max-width: 560px;
  margin: 0 auto;
  padding: 1em;
  align-items: center;
}
.pagination button {
  padding: 0.3em 0.6em;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: capitalize;
}
.btns {
  display: flex;
  gap: 0.3em;
}
.pagination .active {
  background-color: white;
  color: black;
  border: 2px solid black;
}
.pagination button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}
.pagination .active:hover {
  background-color: black;
  color: white;
}
@media (max-width: 600px) {
  .pagination button {
    font-size: 1rem;
  }
}
