.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-items: center;
  max-width: 1100px;
  margin: 1em auto;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}
.panel {
  display: grid;
  justify-items: center;
  gap: 0.5rem;
}
.panel img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.panel h3 {
  font-size: 1rem;
  font-weight: bold;
}
.title {
  font-size: 1.5rem;
  text-align: center;
  color: white;
}
@media (max-width: 600px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
